    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

    *{
    box-sizing: border-box;
    }

    html, body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    }


    .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
    .clearfix { display: inline-block; }
    /* start commented backslash hack \*/
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    /* close commented backslash hack */



    #root{
    max-width: 1200px;
    margin: 100px auto;
    }

    .container{
    display: flex;
    flex-wrap: wrap;
    }



    .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    height: auto;	
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
    cursor: pointer;
    }

    img{
    width: 100%;
    height: 20vw;
    object-fit: contain;

    }

    .container h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 0 0;
    font-size: 1.5rem;
    color: white;
    }


    #left { 
    width: 60%;
    float: left;
    }

    #right {
    width: 40%;
    float: right;
    }
    .left-content .chapterTable, tr, td {
    border-collapse: collapse;
    }


    #left h1 {
    font-size: 4rem;
    margin: 30px 100px;
    width: 100%;
    }

    #left p {
    font-size: 2rem;
    margin: 50px 100px;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    padding: 20px;

    }

    #right img {
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 50px;
        
    }

    .chapterTable {
    z-index: 1;
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    width: 100%;
    margin: 50px 100px;

    }
    .chapterTable td {
    padding: 25px;
    font-size: 2rem;


    }

    .chapterTable tr:hover {
    cursor: pointer;
    background-color:rgba(63,81,181,0.2);

    }

    #cimage {
    height: 40%; 
    width: 40%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    }
    

  
    .card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }

    .card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
    }

    .card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
    }

    @media screen and (min-width: 600px) {
    .card {
    flex: 1 1 calc(50% - 2rem);
    }
    }

    @media screen and (min-width: 900px) {
    .card {
    flex: 1 1 calc(33% - 2rem);
    }
    }
